body {
  background-color: hsl(124, 28%, 77%);
}

h1 {
  color: #ac7b82;
  background-color: rgba(189, 216, 213);
  text-align: center;
  font-weight: lighter;
  text-shadow: 3px 3px 3px blue;
}

a {
  text-decoration: none;
}

nav ul li a {
  color: hotpink;
  font-size: 20px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.6;
  font-style: italic;
  font-weight: bold;
}

.sidebar a, .sidebar {
  color: orange !important;
}

.button {
  background-color: azure;
  color: darkgreen;
}